.App {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 700px;
    height: 455px;
    color: rgb(0, 19, 49);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.App h1 {
    font-size: 2em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.App .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alpaca {
    width: 300px;
    height: 300px;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.alpaca img {
    height: 300px;
    width: 300px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.title {
    width: 100%;
    text-transform: capitalize;
}

.alpaca .neck {
    z-index: 1;
}

.alpaca .nose {
    z-index: 2;
}

.alpaca .mouth {
    z-index: 3;
}

.alpaca .ears {
    z-index: 4;
}

.alpaca .hair {
    z-index: 5;
}

.alpaca .eyes {
    z-index: 6;
}

.menu {
    height: 80%;
}

.options {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options .title {
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(0, 19, 49);
}

.AccessoriesOptions {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Style {
    min-height: 50%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}